$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;

$color-background:#F8F8F8;
$color-pink:#FF3E79;
$color-black-bold: #1B1C21;
$color-black: #7E7E82;
$color-lightgrey: #B5B6BC;
$color-grey: #EAEAEA;
$color-white: #FFFFFF;
$color-whiteBg: #FFFFFF50;
$color-lightblue: #41F6D7;
$color-opacityblue: #D9FFF5;
$color-whitebg2: rgba(255,255,255,0.8);

$boxshadow1: -11px 0px 27px 9px rgba(34, 60, 80, 0.2);

$img_logo: url("../img/logo.png");
$icon_req:url("../img/req.png");
$icon_menu:url("../img/menu.png");
$icon_status:url("../img/status.png");
$icon_phone:url("../img/phone.png");
$icon_message:url("../img/message.png");
$icon_user:url("../img/user.png");
$icon_search:url("../img/search.png");
$icon_close:url("../img/close.png");
$icon_expand_1:url("../img/expand.png");
$icon_dropdown:url("../img/dropdown.png");
$icon_dropdown_2:url("../img/dropdown2.png");

$basic_size: 4px;
$menu_size_w: 306px;
$menu_size_h: 88px;

